<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
          <title>案例详情-{$exhi['name']}</title>
         <meta name="description" content="芙瑞伽衣柜" />
        <meta name="keywords" content="芙瑞伽衣柜" />
        <link rel="stylesheet" href="/public/static/home/css/reset.css">
        <link rel="stylesheet" href="/public/static/home/css/common.css">
        <link rel="stylesheet" href="/public/static/home/css/decorate-eight.css">
        <link rel="stylesheet" href="/public/static/home/css/caseshow.css">
    </head>
    <body>
        <!-- head开始-->
     {:widget("Cate/header")}
        <!-- head结束 -->
        <!-- banner 开始 -->
        <div class="banner"></div>
        <!-- banner 结束 -->
        <!-- show 开始 -->
        <div class="case-show">
            <div class="cs-l">
                <h3>案例展示</h3>
            </div>
            <div class="cs-r">
                <span>当前位置：<a href="/home/index">首页</a>>案例详情</span>
            </div>
        </div>
        <!-- show 结束 -->
        <div class="case-style">
            <h3>{$exhi['name']}</h3>
            <p>案例风格：{$exhi['style']} 设计师：{$exhi['desifner']}</p>
        </div>

     

        <div class="case-con">
          <center> <img src="/public/uploads/{$exhi['pic']}"> </center>
            <p> {$exhi['content']}</p>

        </div>

        <div class="case-jump">
           <i class="icon-5"></i> 
            {if condition="$sy == ''"}<a href="" class="left"><img src="/public/static/home/images/up.png">上一个案例：没有了</a>{else/}<a href="/home/details/id/{$sy.id}" class="left"><img src="/public/static/home/images/up.png">{$sy.name}</a>{/if}
           
 <i class="icon-5"></i>
            {if condition="$xy == ''"}<a href="" class="right"><img src="/public/static/home/images/down.png">下一个案例：没有了</a>{else/}<a href="/home/details/id/{$xy.id}" class="right"><img src="/public/static/home/images/down.png">{$xy.name}</a>{/if}
        </div>

        <!--底部 开始  -->
       {:widget("Cate/footer")}
        <!-- 底部 结束 -->
        <!-- 返回顶部开始 -->
        <div class="box" id="box">
            <div class="return"><a href="index.html">返回首页</a></div>
            <div class="back" id="back"></div>
        </div>
        <!-- 返回顶部结束 -->
        <script src="/public/static/home/js/common.js"></script>
    </body>
</html>