<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>招商加盟</title>
        <link rel="stylesheet" href="/public/static/home/css/reset.css">
        <link rel="stylesheet" href="/public/static/home/css/common.css">
        <link rel="stylesheet" href="/public/static/home/css/zhaoshang.css">
    </head>
    <body>
    <!-- 头部start -->
    	{:widget("Cate/header")}
    	<!-- 头部end -->
		<!-- banner开始 -->
		<div class="banner">
			<img src="/public/uploads/{$nav['pic']}"  alt="">
		</div>
		<!-- banner结束 -->
		<!-- 芙瑞伽商学院开始 -->
		<div class="contacts">
			<ul class="present clearfix">
				<li class="opoo">
					<h3>招商加盟</h3>
				</li>
				<li class="po2 lisd">
					<a href="###">招商加盟</a>
				</li>
				<li class="po2">
					<a href="/home/index">首页></a>
				</li>
				<li class="po2 ">当前位置:</li>
			</ul>
		</div>
		<!-- 芙瑞伽商学院结束 -->
		<!-- 中间部分开始 -->
		<div class="ceny">
			<h3 class="ceny-h3">抢占财富商机，加盟芙瑞伽定制</h3>
		</div>
		<!-- 中间部分结束 -->
		<!-- 信息部分开始 -->
		<form action="zhaoshangtj"  method="post">
		<div class="information clearfix wrapper">
			<div class="information-1">
				<p class="podd"><label for="">姓名:<input type="text" name="name"></label></p>
				<p class="efer"><label for="">电话:<input type="text" name="tel"></label></p>
				<p class="efer"><label for="">省份:<input type="text" name="province"></label></p>
				<p class="efer"><label for="">城市:<input type="text"  name="city"></label></p>
				<button>咨询加盟</button>
						<!-- <input type="submit"   value="提交"> -->
			</div>
		</div>
	</form>
		<!-- 信息部分结束 -->
    	<!-- 底部开始 -->
        {:widget("Cate/footer")}
    	<!-- 底部结束 -->
    	<!-- 返回顶部开始 -->
    	<div class="box" id="box">
    		<div class="return"><a href="index.html">返回首页</a></div>
    		<div class="back" id="back"></div>
    	</div>
    	<!-- 返回顶部结束 -->
    	<script src="/public/static/home/js/common.js"></script>
    </body>
</html>-->
    </body>
</html>