{extend name="AdminPublic:pub"}
{block name="right"}
	<!-- 引入百度编辑器 -->
  <script type="text/javascript" charset="utf-8" src="/public/static/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="/public/static/ueditor/ueditor.all.min.js"> </script>
  <script type="text/javascript" charset="utf-8" src="/public/static/ueditor/lang/zh-cn/zh-cn.js"></script>

  <div class="pd-20">
  <div class="Huiform">
  <!-- enctype="multipart/form-data" -->
    <form action="/news/insert" method="post" enctype="multipart/form-data">
      <table class="table table-bg">
        <tbody>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 标题：</th>
            <td><input type="text" style="width:300px" class="input-text" value="" placeholder="" id="user-name" name="title" datatype="*2-16" nullmsg=""></td>
          </tr>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 封面：</th>
            <td><input type="file" style="width:300px" class="input-text" value="" placeholder="" id="user-name" name="pic" datatype="*2-16"></td>
          </tr>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 关键字：</th>
            <td><input type="text" style="width:300px" class="input-text" value="" placeholder="" id="user-name" name="key" datatype="*2-16" nullmsg="关键字不能为空"></td>
          </tr>
		       <tr>
            <th width="100" class="text-r"> 来源：</th>
            <td><input type="text" style="width:300px" class="input-text" value="" placeholder="" id="user-name" name="source" datatype="*2-16" nullmsg=""></td>
          </tr>
          
            <tr>

            <th width="100" class="text-r"><span class="c-red">*</span> 选择栏目：</th> 

              <td>

                 <input type="radio" value="0" name="state"  />新闻资讯

                 <input type="radio" value="1" name="state"  />芙瑞伽商学院

                



            </td> 

           </tr>



      <tr>
             <th width="100" class="text-r"> 内容：</th><br/>
            <td>
                
                <script id="editor" type="text/plain"  name="content" style="width:700px;height:700px;"></script>

            </td>
          </tr>
          
       
          
         
          <tr>
            <th></th>
            <td><button class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript">
               //实例化编辑器
               //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
               var ue = UE.getEditor('editor');
</script>



{/block}