<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="/public/static/admins/static/h-ui/css/H-ui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="/public/static/admins/static/h-ui.admin/css/H-ui.admin.css" /> 
  <link rel="stylesheet" type="text/css" href="/public/static/admins/lib/Hui-iconfont/1.0.8/iconfont.css" /> 
  <link rel="stylesheet" type="text/css" href="/public/static/admins/static/h-ui.admin/skin/default/skin.css" id="skin" /> 
  <link rel="stylesheet" type="text/css" href="/public/static/admins/static/h-ui.admin/css/style.css" />
	

	<title>{block name="title"}{/block}</title>
</head>
<body>
{block name="right"}{/block}
</div>
</body>

</html>