{extend name="AdminPublic:pub"}
{block  name="right"}

<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>  <span class="c-gray en">&gt;</span>分类管理 <span class="c-gray en">&gt;</span>分类列表   <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
		<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a class="btn btn-primary radius"  href="/cate/add"><i class="Hui-iconfont">&#xe600;</i> 分类添加</a></span>
	</div>
	

	<div class="mt-20">
		
		<table class="table table-border table-bordered table-bg table-hover table-sort" id="tt">
			
				<tr class="text-c">
					<th width="80">ID</th>
					<th width="100">名称</th>
					<th width="100">风格</th>
					<th width="100">户型</th>
					<th width="100">面积</th>
					
				
					
					
					<th width="100">操作</th>
					
				</tr>
		
			
			
				{foreach name="cate" item="row"}
				<tr class="text-c">
					
					<td>{$row['id']}</td>
					<td>{$row['name']}</td>
					<td>{$row['style']}</td>
					<td>{$row['type']}</td>
					<td>{$row['acreage']}</td>
					<td class="td-manage"><a style="text-decoration:none" class="ml-5"  href="/cate/edit?id={$row['id']}" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
					<a style="text-decoration:none" class="ml-5" href="/cate/delete?id={$row['id']}" title="删除" onclick="return confirm('你确定要删除吗？')"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
				{/foreach}
			
	
 </table>

	</div>
</div>



</body>
	
{/block}