{extend name="AdminPublic:pub"}

{block name="right"}
<div class="pd-20">
  <div class="Huiform">
    <form action="/cate/rinsert" method="post" enctype="multipart/form-data">
      <table class="table table-bg">
      
        <tbody>
           <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 类型：</th>
            <td><input type="text" style="width:300px" class="input-text" value="" placeholder="" id="user-name" name="title" datatype="*2-16" nullmsg="名称不能为空"></td>
          </tr>
		  
		  
		  <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 名称：</th>
            <td><input type="text" style="width:300px" class="input-text" value="" placeholder="" id="user-name" name="name" datatype="*2-16" nullmsg="名称不能为空"></td>
          </tr>
          
		  <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 图片：</th>
            <td><input type="file" style="width:300px" class="input-text" value="" placeholder="" id="user-name" name="pic" datatype="*2-16"></td>
          </tr>
          <!--  <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 价格：</th>
            <td><input type="text" style="width:300px" class="input-text" value="" placeholder="" id="user-name" name="price" datatype="*2-16" nullmsg="名称不能为空"></td>
          </tr> -->
		       <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 描述：</th>
            <td><input type="text" style="width:300px" class="input-text" value="" placeholder="" id="user-name" name="describe" datatype="*2-16" nullmsg="名称不能为空"></td>
          </tr>
 
          <tr>
            <th></th>
            <td><button class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 添加</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

</body>
</html>

{/block}