

<!-- 底部开始 -->

        <div class="bottom">

            <div class="hr1"></div>

            <div class="wrapper">

                <p class="frilink">

                    

                    <i></i>友情链接：

                     {foreach name="link" item="link"}

                    <a href="{$link['url']}" class="first">{$link['name']}</a>

                   <!--  <a href="###">郑州家庭装修</a> -->

                   

                    {/foreach}

                </p>

                

                <div class="sty clearfix">

                    <div class="contact fl">

                        

                        <p>电话：{$peizhi['dianhua']}</p>

                        <p>邮箱：{$peizhi['youxiang']}</p>
                      <p>上海芙瑞伽衣柜销售有限公司</p>
                        <p>华中地址：河南省郑州市管城区商都路与东周路交汇处南50米</p>
<p>华东地址：上海市松江区乐都西路825弄89、90号</p>

                    </div>

                    <div class="scan fr">

                        <div class="scan_1">

                            <a href="###"><img src="/public/static/home/images/common_03.jpg" height="66" width="66" alt=""></a>

                            <p><a href="###">官网微信</a></p>

                        </div>

                        <div class="scan_2">

                            <a href="###"><img src="/public/static/home/images/common_05.jpg" height="66" width="66" alt=""></a>

                            <p><a href="###">官网微博</a></p>

                        </div>

                        <div class="scan_3">

                            <a href="###"><img src="/public/static/home/images/common_07.jpg" height="66" width="66" alt=""></a>

                            <p><a href="###">天猫旗舰店</a></p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="fina">

            <div class="wrapper">

                <p class="copyright">版权所有：郑州芙瑞伽衣柜设计有限公司</p>

                <p>网站备案：{$peizhi['beianhao']}</p>

            </div>  

        </div>

        <!-- 底部结束 -->

        

</body>

</html>